# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dist
dist/
build/

# logs
*.log

# environment variables
.env*
!.env.example

# IDEs
.vscode/
.idea/
.DS_Store
*.sw?

# system files
Thumbs.db

# Parcel cache / Vite cache
.cache/
vite.config.ts

# Mac files
*.DS_Store

# Typescript cache
*.tsbuildinfo

# Output from Vercel / Netlify CLI
.vercel/
.netlify/